.title{
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 2;
    font-size: 4.5rem;
    left: 42.5rem;
    right: 43.5rem;
    top: 15rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    font-family:'Monument Extended';
    font-style: normal;
    font-weight: normal;
    width: 90rem;
}

span {
    padding-left: 1rem;
    color: #F6C545;
}