.rotate__wrapper {
    position: absolute;
    display: grid;
    text-transform: uppercase;
    grid-gap: 1rem;
    left:45%;
    bottom: 10%;
    z-index: 2;
}



.rotateInfo {
    font-family: 'Mier A';
    font-weight: 800;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
}