.titleFav{
    display: flex;
    justify-content: center;
    z-index: 2;
    font-size: 4.5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    font-family:'Monument Extended';
    font-style: normal;
    font-weight: normal;
    margin-top: 20rem;
    margin-left: 40rem;
    z-index: 2;
}

.Fav {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    color: #F6C545;
}

.img {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 30rem;
    top: 30rem;
    z-index: -1;

}


.gridFav {
    display: grid;
    grid-template-columns: 36rem 36rem 36rem;
    grid-gap: 10rem;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    z-index: 2;

}

.underTitle {
    text-decoration: none;
    color: white;
    font-family: 'Mier A';
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1.5rem;
    width: 31rem;
    text-transform: uppercase;
    z-index: 2;

}

.container {
    height: 100%;
    overflow-y: scroll;
}

.empty {
    font-family: 'Mier A';
    font-weight: bold;
    font-size: 2rem;
    margin-top: 10rem;
    display: flex;
    z-index: 2;
    justify-content: center;
}

.likeSome  {
    z-index: 2;
    display: flex;
    justify-content: center;
    color:white;
    font-family: 'Mier A';
    font-weight: bold;
    font-size: 2rem;
    margin-top: 3rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

@media only screen and (min-width: 320px) {

    .titleFav {
        font-size: 2rem;

        letter-spacing: 0.1em;
        width: 42.2rem;
    }

    .Fav {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        color: #F6C545;
    }

}

@media only screen and (min-width: 768px) {

    .titleFav {
        font-size: 3.5rem;

        letter-spacing: 0.1em;
        width: 75rem;
    }

    .Fav {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        color: #F6C545;
    }

}


@media only screen and (min-width: 1024px) {

    .titleFav {
        font-size: 4.5rem;

        letter-spacing: 0.1em;
        width: 90rem;
    }
    .Fav {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        color: #F6C545;
    }

}

@media only screen and (min-width: 1440px) {

    .titleFav {
        font-size: 4.5rem;
        letter-spacing: 0.1em;
    }
    .Fav {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        color: #F6C545;
    }
}