.info__wrapper {
    display: grid;
    color: #000000;
}

.hide {
    display: none;
}

.info {    
    background-color: white;
    display: grid;
    width: 100%;
    padding-top: 4.2rem;
    grid-gap: 5.6rem;
}

.infoTitle {
    font-family: Monument Extended;
    font-style: normal;
    font-weight: 400;
    font-size: 5.9rem;
    width: 84rem;
}

.madeBy {
    font-family: 'Mier A';
    font-weight: 300;
    font-size: 2rem;
    margin-top: 1.4rem;
    width: 21.5rem;
}

.description {
    padding-bottom:1rem;
    font-family: 'Mier A';
    font-style: normal;
    font-size: 3rem;
    font-weight: 400;


}

.titleWrapper {
    display: grid;
    justify-content: center;
    margin-right: 40rem;

}

.descriptionWrapper {
    display: grid;
    grid-auto-columns: 77%;
    margin-bottom: 5.6rem;
    justify-content: center;
}


.links {
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    margin-bottom: 6rem;
}

.link {
    color: white;
    font-family: 'Mier A';
    font-weight: 800;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #37AD5D;
    font-size: 3rem;
    padding: 13rem;
    padding-left: 7.3rem;
    padding-right: 7.3rem;
    cursor: pointer;
    transition: all ease-in-out 300ms;
    text-decoration: none;

}

.linkYellow {
    color: black;
    font-family: 'Mier A';
    font-weight: 800;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F6C545;
    font-size: 3rem;
    padding: 13rem;
    padding-left: 7.3rem;
    padding-right: 7.3rem;
    transition: all ease-in-out 300ms;
    cursor: pointer;
    text-decoration: none;
}

.link:hover, .linkYellow:hover{
    background-color: white;
    color: black;
}


@media only screen and (min-width: 410px) {

    .info {    
        padding-top: 4.2rem;
        grid-gap: 3.6rem;
    }
    
    .infoTitle {
        font-weight: 400;
        font-size: 3rem;
        width: 18rem;
    }
    
    .madeBy {
        font-size: 1.6rem;
        margin-top: 1.4rem;
        width: 15rem;
    }
    
    .description {
        padding-bottom:1rem;
        font-size: 2rem;
    }
    
    .titleWrapper {
        margin-right: 18rem;
    
    }
    
    .descriptionWrapper {
        grid-auto-columns: 77%;
        margin-bottom: 0.6rem;

    }
    
    
    .links {
        grid-template-columns: 50% 50%;
        margin-bottom: 5rem;
    }
    
    .link {

        font-weight: 800;
        width: 100%;
        font-size: 1.8rem;
        padding: 8rem;
        padding-left: 2.3rem;
        padding-right: 2.3rem;
    
    }
    
    .linkYellow {
        font-weight: 800;
        width: 100%;
        font-size: 1.8rem;
        padding: 8rem;
        padding-left: 2.3rem;
        padding-right: 2.3rem;
    }


}

@media only screen and (min-width: 768px) {
    .info {    
        padding-top: 4.2rem;
        grid-gap: 5.6rem;
    }
    
    .infoTitle {
        font-weight: 400;
        font-size: 4.5rem;
        width: 24rem;
    }
    
    .madeBy {
        font-size: 2rem;
        margin-top: 1.4rem;
        width: 21.5rem;
    }
    
    .description {
        padding-bottom:1rem;
        font-size: 2.5rem;
    
    }
    
    .titleWrapper {
        margin-right: 40rem;
    
    }
    
    .descriptionWrapper {
        grid-auto-columns: 77%;
        margin-bottom: 5.6rem;

    }
    
    
    .links {
        grid-template-columns: 50% 50%;
        margin-bottom: 6rem;
    }
    
    .link {

        font-weight: 800;
        width: 100%;
        font-size: 2.5rem;
        padding: 13rem;
        padding-left: 7.3rem;
        padding-right: 7.3rem;
    
    }
    
    .linkYellow {
        font-weight: 800;
        width: 100%;
        font-size: 2.5rem;
        padding: 13rem;
        padding-left: 7.3rem;
        padding-right: 7.3rem;
    }
    
}


@media only screen and (min-width: 1024px) {
    .info {    
        padding-top: 4.2rem;
        grid-gap: 5.6rem;
    }
    
    .infoTitle {
        font-weight: 400;
        font-size: 5.9rem;
        width: 40rem;
    }
    
    .madeBy {
        font-size: 2rem;
        margin-top: 1.4rem;
        width: 21.5rem;
    }
    
    .description {
        padding-bottom:1rem;
        font-size: 3rem;
    
    
    }
    
    .titleWrapper {
        margin-right: 40rem;
    
    }
    
    .descriptionWrapper {
        grid-auto-columns: 77%;
        margin-bottom: 5.6rem;

    }
    
    
    .links {
        grid-template-columns: 50% 50%;
        margin-bottom: 6rem;
    }
    
    .link {

        font-weight: 800;
        width: 100%;
        font-size: 3rem;
        padding: 13rem;
        padding-left: 7.3rem;
        padding-right: 7.3rem;
    
    }
    
    .linkYellow {
        font-weight: 800;
        width: 100%;
        font-size: 3rem;
        padding: 13rem;
        padding-left: 7.3rem;
        padding-right: 7.3rem;
    }


}

@media only screen and (min-width: 1440px) {

    .info {    
        padding-top: 4.2rem;
        grid-gap: 5.6rem;
    }
    
    .infoTitle {

        font-weight: 400;
        font-size: 5.9rem;
        width: 84rem;
    }
    
    .madeBy {
        font-size: 2rem;
        margin-top: 1.4rem;
        width: 21.5rem;
    }
    
    .description {
        padding-bottom:1rem;
        font-size: 3rem;
    
    
    }
    
    .titleWrapper {
        margin-right: 40rem;
    
    }
    
    .descriptionWrapper {
        grid-auto-columns: 77%;
        margin-bottom: 5.6rem;

    }
    
    
    .links {
        grid-template-columns: 50% 50%;
        margin-bottom: 6rem;
    }
    
    .link {

        font-weight: 800;
        width: 100%;
        font-size: 3rem;
        padding: 13rem;
        padding-left: 7.3rem;
        padding-right: 7.3rem;
    
    }
    
    .linkYellow {
        font-weight: 800;
        width: 100%;
        font-size: 3rem;
        padding: 13rem;
        padding-left: 7.3rem;
        padding-right: 7.3rem;
    }

}