.title{
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 2;
    font-size: 4.5rem;
    left: 45.5rem;
    right: 45.5rem;
    top: 22.6rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    font-family:'Monument Extended';
    font-style: normal;
    font-weight: normal;
}

span {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    color: #F6C545;
}