.discover {
    background-color: #37AD5D;
    color: #211F1F;
    text-transform: lowercase;
    border-radius: 2rem;
    padding: 1.7rem;
    padding-left: 9.4rem ;
    padding-right:9.4rem ;
    border: none;

    font-family: 'Mier A';
    font-weight: 800;
    font-size: 3rem;

    z-index: 2;
}

.button__wrapper{
    position: absolute;
    display: flex;
    bottom: 2rem;
    margin-left: 41%;
    justify-content: center;
}