.hoverItem {
    position: absolute;
    top: 50%;
    z-index: 2;
    font-family: 'Mier A';
    font-weight: 800;
    font-size: 2.3rem;
    text-transform: uppercase;
    transform: rotate(90deg);
    width: 40rem;
    left: -15rem;
    text-align: center;
}

@media only screen and (min-width: 410px) {

    .hoverItem {
        display: none;
    }

}

@media only screen and (min-width: 1000px) {

    .hoverItem {
        display: inherit;
    }

}
